asgiref
attrs
build
CacheControl
certifi
charset-normalizer
cleo
colorama
crashtest
distlib
Django
dulwich
filelock
html5lib
idna
importlib-metadata
installer
jaraco.classes
jsonschema
keyring
lockfile
more-itertools
msgpack
packaging
pexpect
pkginfo
platformdirs
poetry
poetry-core=
poetry-plugin-export
ptyprocess=
pyproject_hooks
pyrsistent
pywin32-ctypes
rapidfuzz
requests
requests-toolbelt
shellingham
six
sqlparse
tomlkit
trove-classifiers
tzdata
urllib3
virtualenv
webencodings
zipp
цуа
