asgiref
attrs
build
CacheControl
certifi
charset-normalizer
cleo
colorama
crashtest
distlib
Django
dulwich
filelock
html5lib
idna
importlib-metadata
installer
jaraco.classes
jsonschema
keyring
lockfile
more-itertools
msgpack==1.0.5
packaging==23.1
pexpect==4.8.0
pkginfo==1.9.6
platformdirs==3.8.0
poetry==1.5.1
poetry-core==1.6.1
poetry-plugin-export==1.4.0
ptyprocess==0.7.0
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pywin32-ctypes
rapidfuzz
requests
requests-toolbelt
shellingham
six
sqlparse
tomlkit
trove-classifiers
tzdata
urllib3
virtualenv
webencodings
zipp
