{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <nav class="blog-pagination">
                <a class="btn btn-outline-secondary" href="{% url 'blog:list' %}">Назад</a>
    </nav>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">
                        {{ object.title }}
                    </h3>
                </div>
                <div class="card-body">
                    <p>
                        {{ object.body }}
                    </p>
                </div>
            </div>
            Просмотров: {{ object.views_count }}
            <nav class="blog-pagination">
                <a class="btn btn-outline-secondary" href="{% url 'blog:edit' object.pk %}">Редактировать</a>
                <a class="btn btn-outline-secondary" href="{% url 'blog:delete' object.pk %}">Удалить</a>
            </nav>
        </div>
    </div>
</div>
{% endblock %}